<!--footer-->
<footer id="footer" class="app-footer" role="footer">
    <div class="wrapper bg-light">
      <span class="pull-right hidden-xs text-ellipsis">
            Powered by <a target="_blank" href="javascript:;">hdl</a>&nbsp;|&nbsp;Theme by <a target="_blank"
                                                                                                  href="javascript:;">blog</a>
      </span>
        <span class="text-ellipsis">&copy;&nbsp;2020 Copyright&nbsp;huangdalu  ⋅</span>
    </div>

    <div class="topButton panel panel-default">
        <button id="goToTop" class="btn btn-default no-shadow pos-abt hide  border-radius-half-left"
                data-toggle="tooltip" data-placement="left" data-original-title="返回顶部">
            <i class="fontello fontello-chevron-circle-up" aria-hidden="true"></i>
        </button>
    </div>
</footer>
<!--/footer-->

<script th:src="@{/front/js/bootstrap.min.js}"></script>
<!--平滑滚动组件-->
<script th:src="@{/front/js/SmoothScroll.min.js}"></script>
<!--pjax动画组件-->
<script th:src="@{/front/js/feather.min.js}"></script>
<!--lightgallery必备组件-->
<script th:src="@{/front/js/jquery.fancybox.min.js}"></script>
<script th:src="@{/front/js/easypiechart.min.js}"></script>

<script th:src="@{/front/js/music.min.js}"></script>
<!--主题核心js-->
<script th:src="@{/front/js/function.min.js}"></script>
<script th:src="@{/front/js/core.min.js}"></script>